@import '../../scss/variables.scss';

.content{
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    text-shadow: 2px 2px 5px black;
    color: black;
}

.contIcon {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 60vw;
}

.contIcon > a {
    padding: 0;
}

h4 > img {
    cursor: pointer;
}
