.about {
    margin: 0;
    padding: 0;
    display: flex;
    width: 90%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.contText {
    padding: 2em;
    //background-color: rgba(100, 100, 100, 0.5);
    border-radius: 25px;
    max-width: 600px;
}

.contText > p {
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 5px black;
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}

.contText > h2 {
    text-shadow: 3px 2px gray;
    display: inline-block;
    font-weight: 700;
    font-size: 2em;
}

.contText > h2{
    display: inline;
}