.hSkills {
    margin: 0;
    padding: 0;
    display: flex;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.contText {
    width: 50%;
    padding: 1rem;
    max-width: 50vw;
    border-radius: 10px;
    align-items: center;
}

.contText > p {
    color: rgb(235, 235, 235);
    text-shadow: 2px 2px 5px black;
    text-align: left;
    font-weight: 700;
    font-size: 1.5rem;
}

.contText > h2 {
    text-shadow: 3px 2px gray;
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
}

.contIcon {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 25px;
    max-width: 60vw;
}

.contIcon > img {
    margin: .375rem;
}

@media (max-width: 800px) {
    .hSkills {
        flex-flow: column wrap;
        justify-content: center;
    }
}