@import './scss/variables.scss';
@import './scss/globals.scss';

#root {
  padding: 0;
  margin: 0;
  color: $mainColor;
}

.title {
  margin: 1rem;
  padding: 1rem;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
}

@media only screen and (max-width: 250px) {
    
  html {font-size: 5px;}
}

@media only screen and (max-width: 450px) {
    
  html {font-size: 10px;}
  .navBar {height: 50px;}
}

@media only screen and (max-width: 800px) {
    
  html {font-size: 12px;}
}

@media only screen and (max-width: 1260px) {
    
  html {font-size: 16px;}
}

@media only screen and (max-width: 1440px) {
    
  html {font-size: 18px;}
}
