@import 'variables.scss';
@import 'sweetalert2/src/sweetalert2.scss';

p{
    font-size: .8em;
    color: $mainColor;
    line-height: 1.5em;
    text-align: justify
}

h2{
    color:aquamarine;
}
li{
    font-size: .8em;
}
img{
    max-width: 100%;
}

@mixin wrapper{
    background-color: $wrapperColor;
    border-radius: 25px;
    padding: 1rem 1rem;
}

.container{
    @include wrapper;
    max-width: $componentWidth;
    align-items: center;
    justify-items: center
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
a:link {
    text-decoration: none;
    }
a:visited {
        text-decoration: none;
}
a:hover {
        text-decoration: underline;
} 
a:active {
        text-decoration: underline;
}

ul{
    text-decoration: none;
}
li{
    text-decoration: none;
}


.swal2-modal{
    color:white;
    border-radius: 25px;
    background-color: rgb(000, 000, 000);
}

.swal2-html-container {
    text-align: justify !important;
  }

