@import 'variables.scss';
@import 'sweetalert2/src/sweetalert2.scss';

p{
    font-size: .8em;
    color: $mainColor;
    line-height: 1.5em;
    text-align: justify
}

h2{
    color: $secondColor;
}
li{
    font-size: .8em;
}
img{
    max-width: 100%;
}

@mixin wrapper{
    background-color: $wrapperColor;
    border-radius: 25px;
    padding: 1rem 1rem;
}

.container{
    @include wrapper;
    max-width: $componentWidth;
    align-items: center;
    justify-items: center
}

.swal2-modal{
    color:$mainColor;
    border-radius: 25px;
    background-color: rgb(000, 000, 000);
}

.swal2-html-container {
    text-align: justify !important;
}

.showIcons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:flex-end ;
    height: 75%;
    margin: auto;
}

a{
    text-decoration: none;
    color: $mainColor;
    cursor: pointer;
}
a:hover{
    color: $secondColor
}