@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@112.5,200..900&display=swap');

$mainColor: #ffffff;
$secondColor: #7fffd4;
$mainFont: "Inconsolata";
$wrapperColor: rgba(41, 41, 41, 0.8);
$breakpointSM: 520px;
$breakpointMD: 521px;
$breakpointLG: 1000px;
$breakpointXL: 1200px;
$componentWidth: 400px;