@import '../../scss/variables.scss';

.slider {
    margin: 0;
    padding: .375rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/portfolioV2.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
    flex-direction: column;
}

.circle {
    display: absolute;
    bottom: 1em;
    border: 1px solid $mainColor;
    background-color: $mainColor;
    border-radius: 50%;
    width: .3em;
    height: .3em;
}
.circleSelected {
    display: absolute;
    bottom: 1em;
    border: 1px solid $mainColor;
    background-color: $secondColor;
    border-radius: 50%;
    width: .3em;
    height: .3em;
}

.pagination {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 4rem;
    text-shadow: 3px 2px gray;
    width: 85%;
    justify-items:flex-end;
}
.directLeft {
    padding: 0;
    margin: 0;
    position: absolute;
    left: -2vw;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.directRight {
    padding: 0;
    margin: 0;
    position: absolute;
    right: -2vw;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}

.directLeft:hover, .directRight:hover {
    transform: scale(1.5);
    color: $secondColor;
    font-weight: bold;
}

.sliderItem {
    margin: 0;
    padding: 0;
    width: 80vw;
    animation-name: changeItem;
    animation-duration: 5s;
}

@keyframes changeItem {
    0%   {visibility: hidden;}
    25%  {visibility: visible;}
}